.price {
  display: flex;
  justify-content: space-evenly;
}
.productContainer {
  /* margin: px; */
}
.productContainer:hover {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.title{
    font-size: 2.1rem;
}